// Fonts
$main_font: 'Lato', sans-serif;

// Size Media Queries
$phone: 576px; //small devices
$tablet: 768px; //tablets
$desktop: 992px; //desktops
$large-desktop: 1200px;
$larger-desktop: 1400px;

//Colors
$primary: #ff10f3;
$secondary: #ff3075; 
$tertiary: #666666; 
$black: #000;
$green: #12a732;
$blue: #0d96d6;
$dark_blue: #1e62df;
$red: #ff1131; 
$coral_red: #ff4040;
$portland_orange: #ff5a36;
$secondary_black: #222222;
$white: #FFFFFF;
$gray: #e2e2e2;
$light_gray: #c7c6c6;
$secondary_gray: #b6b4b4;
$tertiary_gray: #727272;
// $dark_blue: #061525;

$spacing: 2rem;
$secondary_spacing: 3rem;